<div class="container-page-traitement">

  <div class="barre-separation-rdv-new"></div>

  <div id="details-traitement">
    <p>Détails du traitement :</p>
  </div>

  <div class="formulaire-traitement-container">

    <div class="details-traitement-gris">

      <%= simple_form_for(medical_care) do |f| %>
        <%= f.input :title, label: "Titre" %>
        <%= f.input :description %>

        <div class="date-champ" data-controller="flatpickr-range">
            <%= f.input :start_date, as: :string,
                               required: false,
                               input_html: { id: "range_start"}, label: "Début du traitement" %>
            <%= f.input :end_date, as: :string,
                             required: false,
                             input_html: { id: "range_end" }, label: "Fin du traitement" %>

        </div>

    </div>

    <div id="medicaments-a-prendre">
      <p>Médicaments à prendre :</p>
    </div>

    <div class="details-traitement-gris">

      <div data-add-medicament-target="forms">
        <%= render partial: "medical_care_medicaments/form", locals: {f: f, medicaments: MedicalCareMedicament.new} %>
      </div>
    </div>

    <div class="section-btn-ajout-traitement">
      <button  class="btn-ajout-traitement" data-action="click->add-medicament#addNewForm">+  Ajouter un médicament supplementaire</button>
    </div>

      <div class="section-btn-enregistrer-traitement">
        <%= f.button :submit, "Enregistrer le traitement", class: "btn-enregistrer-traitement", id: "submit-button" %>
      </div>

    <% end %>

  </div>

</div>
