<div class="container-home">
  <div class="navbar-rdvavenir">
    <div class="navbar-rdvavenir-left">
      <%= link_to image_tag("Icon-barre-options.svg", alt: "Bouton gauche"), "#" %>
    </div>
    <div class="navbar-rdvavenir-title">
      <h1>Accueil</h1>
    </div>
    <div class="navbar-rdvavenir-right">
      <%= link_to image_tag("icon-barre-fermer.svg", alt: "Bouton droit"), root_path %>
    </div>
  </div>
  <div>
    <div class="barre-separation"></div>
      <h5>Calendrier</h5>
    <div class="barre-separation"></div>
  </div>
  <div class="calendar-container">
  <div class="calendar-row date-name" style="gap: 8px;">
    <%(0..6).each do |day| %>
      <% jour = Date.today + day.day %>
      <p><%= translate_day(jour.strftime("%a")).capitalize %></p>
    <% end %>
  </div>
      <% (0..13).each do |i| %>
        <% date = (Date.today + i.day).strftime %>
        <% if i % 7 == 0 %>
          <div class="calendar-row">
        <% end %>
        <% if date == params[:date] %>
          <div class="date-day">
        <% else %>
          <div class="empty-week-day">
        <% end %>
        <%= link_to request.params.merge(date: date ) do %>
          <%= week_day = Date.parse(date).strftime("%d") %>
        <% end %>
        </div>
        <% if i % 7 == 6 || i == 13 %>
          </div>
        <% end %>
      <% end %>
  </div>
  <p>- PRISES DU JOUR -</p>
    <% @traitements.each do |traitement| %>
    <div class="patient-home">
      <p><%= traitement.title %></p>
        <% traitement.medical_care_medicaments.each do |traitement_medicament| %>
        <div class="medicament-name">
          <%= traitement_medicament.medicament.name %> <br>
        </div>
        <div class="medicament-dose">
          <%= traitement_medicament.dose.to_i %>
          <%= "#{traitement_medicament.medicament.unit} / jour" %> <br>
          <% if dose(traitement_medicament) != "" %>
          <div class="btn-medicament-prit">
           <%= link_to medical_care_medical_care_medicament_taken_path(traitement.id, traitement_medicament.id, taken: { symb_for_mcm.to_sym => true }) do %>
  Médicament pris
<% end %>

          </div>
          <% else %>
          <div class="pris-text">
            <p><%= "Medicament pris" %></p>
          </div>
          <% end %>
        </div>
        <% end %>
    </div>
      <% end %>
  <p> -RDV DU JOUR -</p>
    <% @appointments.each do |appointment| %>
    <div class="rdv-home">
        <div class="rdv-home-info">
          <div class="nom-adresse-rdv-home">
            <%= appointment.medical_center.name %> <br>
            <%= appointment.medical_center.address %> <br>
          </div>
          <div class="date-rdv-home">
            <%= appointment.date.strftime("%A %d %B %Y, %H:%M") %>
          </div>
        </div>
    </div>
    <% end %>
</div>

<p></p>
 <%= link_to "Accueil", root_path %>
  <%= link_to "Tableau de bord", profil_path %>
  <%= link_to "RDV", appointments_path %>
  <%= link_to "Medicaments", medicaments_path %>
