<div class="global-container">

  <div class="barre-separation"></div>

  <p>Détails du rendez-vous :</p>

  <div class="carre-gris-rdv">

  <p>Nom du centre :</p>
  <p><%= @medical_center.name %></p>

  <p>Adresse :</p>
  <p><%= @medical_center.address %></p>

  <%= simple_form_for [@medical_center, @appointment] do |f| %>
    <%= f.input :date, required: true%>
    <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
  <% end %>

  </div>

</div>
