<h1>Ajouter un RDV</h1>

<div>
  <p><%= @medical_center.name %></p>
  <p><%= @medical_center.address %></p>
  <%= simple_form_for [@medical_center, @appointment] do |f| %>
    <%= f.input :date, required: true%>
    <%= f.submit "Créer le RDV", class: "btn btn-primary" %>
  <% end %>
</div>
