<h1>Médicaments</h1>

<section id="stock-actuel">
  <h2>Stock actuel</h2>

  <table>
    <thead>
      <tr>
        <th>Nom du médicament</th>
        <th>Quantité</th>
      </tr>
    </thead>
    <tbody>
      <% @medicaments.each do |medicament| %>
        <tr id="medicament-<%= medicament.id %>">
          <td><%= medicament.name %></td>
          <td><%= link_to ' - ', decrement_medicament_path(medicament), class: "btn btn-md btn-primary", remote: true %></td>
          <td><%= medicament.stock %></td>
          <td><%= link_to ' + ', increment_medicament_path(medicament), class: "btn btn-md btn-primary", remote: true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section id="ajouter-medicament">
  <h2>Ajouter un médicament</h2>

  <%= form_with model: @medicament, url: medicaments_path, method: :post do |form| %>
    <%= form.label :name, "Nom du médicament" %>
    <%= form.text_field :name %>
    <%= form.label :stock, "Stock" %>
    <%= form.text_field :stock %>
    <%= form.label :unit, "Unité" %>
    <%= form.select :unit, Medicament::UNITS %>
    <%= form.submit "Ajouter" %>

  <% end %>
</section>

<%= link_to "Accueil", root_path %>
