<h1>Médicaments</h1>

<section id="stock-actuel">
  <h2>Stock actuel</h2>

  <table>
    <thead>
      <tr>
        <th>Nom du médicament</th>
        <th>Quantité</th>
      </tr>
    </thead>
    <tbody>
      <% @medicaments.each do |medicament| %>
        <tr>
          <td><%= medicament.name %></td>
          <td><%= medicament.stock %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section id="ajouter-medicament">
  <h2>Ajouter un médicament</h2>

  <%= form_with model: @medicament, url: medicaments_path, method: :post do |form| %>
    <%= form.label :name, "Nom du médicament" %>
    <%= form.text_field :name %>
    <%= form.label :stock, "Stock" %>
    <%= form.text_field :stock %>
    <%= form.submit "Ajouter" %>

  <% end %>
</section>
