<h1>Médicaments index</h1>

<p>--------------------------------</p>
<% current_user.medical_cares.each do |traitement| %>
  <% traitement.medicaments.each do |medicament| %>
  <p><%= medicament.name %></p>
  <p><%= medicament.unit %></p>
  <p><%= medicament.stock %></p>
    <%= link_to "Modifier le stock", edit_medicament_path(medicament.id) %>
<p>--------------------------------</p>
  <% end %>
  <% end %>

<%# <%= link_to 'Ajouter un médicament', _path %>
<% console %>
