<div class="container-medicaments">
  <div class="barre-separation-medicament"></div>
  <div class="titre-stock-actuel"><p>Stock actuel</p></div>
  <div class="barre-separation-medicament" id="barre2"></div>
    <tbody>
      <div class="medicaments-card">
        <% @medicaments.each do |medicament| %>
          <div class="info-medicaments">

              <div class="medicament-nom">
                <td><%= medicament.name.upcase %></td>
              </div>

              <div class="moins-quantite-plus">
                <div class="btn-moins">
                  <td><%= link_to image_tag("Icone-moins.svg"), decrement_medicament_path(medicament), remote: true %></td>
                </div>

                <div class="stock-chiffre">
                  <td><%= medicament.stock %></td>
                </div>

                <div class="btn-plus">
                  <td><%= link_to image_tag("Icone-plus.svg"), increment_medicament_path(medicament), remote: true %></td>
                </div>
              </div>

          </div>

        <% end %>
      </div>
    </tbody>

  <div class="ajouter-medicament">
    <div class="barre-separation-medicament"></div>
    <div class="titre-stock-actuel"><p>Ajouter un médicament</p></div>
    <div class="barre-separation-medicament" id="barre2"></div>
          <%= form_with model: @medicament, url: medicaments_path, method: :post do |form| %>
            <div class="form">
              <div class="form-name">
                <div class="label-left">
                  <%= form.label :name, "Nom" %>
                </div>
                <div class="form-select-input">
                  <%= form.text_field :name %>
                </div>
              </div>
              <div class="form-stock">
                <div class="label-left">
                  <%= form.label :stock, "Stock" %>
                </div>
                <div class="form-select-input">
                  <%= form.text_field :stock %>
                </div>
              </div>
              <div class="form-unit">
                <div class="label-left">
                  <%= form.label :unit, "Unité" %>
                </div>
                <div class="form-select-input">
                  <%= form.select :unit, Medicament::UNITS %>
                </div>
              </div>
              <div class="ajouter-medicament" id="ajouter-medicament-btn">
                <%= form.submit "Ajouter", id:"ajouter-medicament-btn" %>
              </div>
            </div>
            <% end %>
  </div>
</div>

<%# Footer %>

<div class="footer-container">
  <div class="footer-button">
    <%= link_to root_path do %>
      <%= image_tag("footer-accueil.svg", alt: "Accueil") %>
    <% end %>
  </div>

  <div class="footer-button">
    <%= link_to medical_centers_path do %>
      <%= image_tag("footer-centres.svg", alt: "Centres Médicaux") %>
    <% end %>
  </div>

  <div class="footer-button">
    <%= link_to medicaments_path do %>
      <%= image_tag("footer-medicaments.svg", alt: "Médicaments") %>
    <% end %>
  </div>
</div>
<div class="espace-vide-footer"></div>

<%# Footer %>
