<!DOCTYPE html>
<html>
  <head>
    <title>MedAssist</title>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'icone-pilule.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/ios_pwa_links' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= special_background(controller_name, action_name) %>">
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
